- name: CI for Bita Markets
  hosts: myhosts
  tasks:
    # Install Necessary Packages
    - name: Add Google Linux GPG public key
      become: true
      ansible.builtin.apt_key:
        url: https://dl-ssl.google.com/linux/linux_signing_key.pub
        keyring: /usr/share/keyrings/dart.gpg
    - name: Add the Dart package repository
      become: true
      ansible.builtin.apt_repository:
        repo: deb [signed-by=/usr/share/keyrings/dart.gpg arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main

    - name: Update packages
      become: true
      ansible.builtin.apt:
        upgrade: yes

    - name: Install Dart and Nginx
      become: true
      ansible.builtin.apt:
        name:
          - dart
          - nginx

    # Builds

    - name: Getting code base
      ansible.builtin.git:
        accept_hostkey: true
        clone: yes
        update: yes
        name: git@github.com:gumi-apps/bita_markets.git
        dest: bita_markets
        force: yes
    - name: Build Executable
      shell: cd bita_markets && dart pub get && dart compile exe bin/bita_markets.dart
    - name: Copy Environmental Variables
      become: true
      ansible.builtin.copy:
        dest: /var/bita_markets_build/
        force: true
        src: ~/bita_markets/.env
    # Disable Services
    - name: Disable Bita_markets Service
      become: true
      ansible.builtin.systemd_service:
        name: bita_markets
        state: stopped
        daemon_reload: true
    - name: Copy Build
      become: true
      shell: cp /home/ubuntu/bita_markets/bin/bita_markets.exe /var/bita_markets_build/bita_markets.exe
    - name: Register service
      become: true
      shell: cp /home/ubuntu/bita_markets/bita_markets.service /etc/systemd/system/bita_markets.service
    - name: Upload Certificate
      become: true
      ansible.builtin.copy:
        dest: /etc/ssl/certs/
        force: true
        src: ~/bita_markets/deployment/bita.pem
    - name: Upload Certificate Key
      become: true
      ansible.builtin.copy:
        dest: /etc/ssl/certs/
        force: true
        src: ~/bita_markets/deployment/bita.key
    - name: Upload nginx conf
      become: true
      ansible.builtin.copy:
        force: true
        src: ~/bita_markets/deployment/nginx.conf
        dest: /etc/nginx/conf.d/
    - name: Copy Email templates
      become: true
      shell: cp -r /home/ubuntu/bita_markets/templates /var/bita_markets_build/templates
    - name: Enable Nginx Services on Boot
      ansible.builtin.systemd_service:
        name: nginx
        enabled: true
        state: started
    - name: Enable Bita_markets Service
      become: true
      ansible.builtin.systemd_service:
        name: bita_markets
        enabled: true
        state: started
        daemon_reload: true
